/* Prevents scrolling */
html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.main-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url(/assets/videos/background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-background video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    transform: translate(-50%, -50%);
}

/* Main container */
#main-container {
    background-color: #20204693;
    max-width: 1280px;
    height: 98vh !important;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    position: relative;
    margin-top: 6px;
    border-radius: 1.5rem;
    backdrop-filter: blur(20px);
    font-size: 15px;
    font-weight: 500;
}


/* Container Styling */
#left-sidebar {
    border-right: 1px solid rgba(255, 255, 255, 0.215)
}

.left-side-header {
    width: 230px;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    border-bottom: 1px solid rgba(255, 255, 255, 0.215);
    cursor: pointer;
    margin-left: 1rem;
    gap: 1rem;
}

/* Button Styling */
.button-mac {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ff5f57;
    cursor: pointer;
}

.button-mac .button-icon {
    display: none;
}

.button-mac:hover .button-icon {
    display: block;
}

/* Button Colors */
.yellow-button {
    background-color: #ffbd2e;
}

.green-button {
    background-color: #28c940;
}

/* Button Icon */
.button-icon {
    width: 8px;
    height: 8px;
}


.accordion-button {
    font-weight: bold;
}

.accordion-body a {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: #ffffff;
    padding: 5px 0;
}

.subitem-icons {
    width: 20px;
    height: 20px;
}

@media (max-width: 700px) {
    #left-sidebar {
        width: 50px;
        overflow: hidden;
    }
    .accordion-body a {
        font-size: 14px;
    }
    .subitem-icons {
        width: 20px;
        height: 20px;
    }

}

/* Custom Styling */
#right-side-header {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.215);
}

#right-side-main {
    width: 100%;
    margin-right: 5px;
    height: calc(95vh - 60px);
    overflow-y: scroll;
    position: relative;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

/* Hide scrollbar but keep content scrollable */
#right-side-main::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

.profile-container {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

.my-image {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ddd;
}

#about {
    padding: 10px;
    border-radius: 1.5rem;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    animation: gradientAnimation 15s ease infinite;
    background-size: 400% 400%;
    display: flex;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.about-image {
    max-width: 100%;
    max-height: 230px;
    height: auto;
}

.profile-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.content-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 50px;
    text-decoration: none;
}

.content-button:hover {
    background-color: #0056b3;
}

.skill-container img {
    width: 40px;
    height: 40px;
}

.box-container {
    padding: 20px 0;
}

#skills {
    width: 100%;
    padding: 10px 20px;
    border-radius: 10px;
}

#skills h4 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

#skills .text-center {
    padding: 20px;
    border-radius: 8px;
    background-color: #512655;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.548);
    transition: transform 0.3s ease-in-out;
}

#skills .text-center:hover {
    transform: translateY(-5px);
}

#skills .img-fluid {
    width: 60px;
    height: auto;
}

#skills p {
    font-size: 16px;
    font-weight: 500;
    color: #fefefe;
    margin-top: 10px;
}

#Project-container {
    width: 96%;
    margin-left: 20px;
}

#carouselExampleCaptions {
    height: 400px !important;
    border-radius: 15px;
}

#carouselExampleCaptions .carousel-item img {
    object-fit: cover;
    mix-blend-mode: darken;
    border-radius: 15px;
    height: 100%;
    width: 100%;
}

#carouselExampleCaptions .carousel-inner {
    height: 100%;
    border-radius: 15px;
}

#carouselExampleCaptions .carousel-item {
    height: 100%;
    border-radius: 15px;
}

video {
    object-fit: cover;
    mix-blend-mode: darken;
    border-radius: 15px;
}

.box-container {
    padding: 40px !important;
    background-color: #42152288;
    border-radius: 30px;
}

.box-header {
    font-size: 1.5rem;
    font-weight: bold;
}

.items-logo {
    width: 60px;
    height: 60px;
    object-fit: cover;
}

.uni-items p {
    margin: 0;
    font-size: 1rem;
    color: whitesmoke;
}

.uni-date {
    color: #f7f7f7;
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-header,
.modal-body,
.modal-footer {
    background: url(./videos/background.png) !important;
    background-blend-mode: darken !important;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}